single-row{
    width: 75%;
    margin: 10px;
}

mat-form-field{
    width: 40%;
    margin: 3px;
}

mat-toolbar {
    background: #3f51b5;
    color: #fff;
}

.backgroud-section{
    background-color: greenyellow;
    padding: 10px;
    margin:10px;
    border: 1px solid #e3e3e3;
    border-radius: 10px;
}